{% extends 'base.html' %}

{% block contenido %}
<div class="col-lg-9">
    <!-- /.panel -->
    <div class="panel panel-default">
        <div class="panel-heading">
            Perfil
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">
                    <img class="img-responsive" src="{{ STATIC_URL }}img/jizz.jpg">
                </div>
                <div class="col-lg-6">
                    <h3>Username: </h3> <span style="font-size: 18px">Cris_Towi</span>
                    <h3>Nombre: </h3> <span style="font-size: 18px">Christian</span>
                    <h3>Apellido Paterno: </h3> <span style="font-size: 18px">Consuelo</span>
                    <h3>Apellido Materno: </h3> <span style="font-size: 18px">Mayén</span>
                    <br><br>
                    <button class="btn btn-primary">Seguir</button>
                </div>
            </div>
            <div>
                <h2>Bio</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.</p>
            </div>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
{% endblock %}